In [1]:
import pandas as pd
import geopandas as gpd

# 파일 불러오기

In [2]:
gdf = gpd.read_file("C:/Users/이정재/OneDrive/바탕 화면/공공데이터/practical_project/csv/point_1.shp")
gdf

    name        lat         lng                         geometry
0  20261  37.388852  126.984022   POINT (954324.987 1932320.271)
1  20264  36.827993  127.236872   POINT (976535.251 1870008.629)
2  20278  36.560317  127.207772   POINT (973849.724 1840323.418)
3  20279  37.092867  127.886441   POINT (1034342.21 1899429.318)
4  20332  37.379889  127.810530   POINT (1027491.71 1931246.255)
5  20338  37.926290  127.697124  POINT (1017324.277 1991840.091)
6  21133  35.318151  126.885169   POINT (944113.318 1702684.064)

In [3]:
df = pd.read_csv('C:/Users/이정재/OneDrive/바탕 화면/공공데이터/practical_project/csv/스마트팜_수정데이터.csv',encoding='cp949')
df

,농장아이디,개체번호,축종코드,제조사 아이디,측정일시,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름,수집일자,수집건수
0,20278,20130816010079,D00,agrirobotech,2021-09-01 6:52,16,2021-09-01 6:52,2021-09-01 7:04,1,7.1,NaN,N,39.9,4.1,3.3,1.5,20210902,1
1,20278,20130816010079,D00,agrirobotech,2021-09-01 17:02,17,2021-09-01 17:02,2021-09-01 17:11,2,6.8,NaN,N,40.2,4.5,3.2,2.1,20210902,1
2,20278,20130816010079,D00,agrirobotech,2021-09-02 1:41,14,2021-09-02 1:41,2021-09-02 1:51,1,6.8,NaN,N,39.9,4.8,3.1,1.9,20210903,1
3,20278,20130816010079,D00,agrirobotech,2021-09-02 7:28,10,2021-09-02 7:28,2021-09-02 7:36,2,6.8,NaN,N,39.6,5.0,3.1,1.7,20210903,1
4,20278,20130816010079,D00,agrirobotech,2021-09-02 14:33,11,2021-09-02 14:33,2021-09-02 14:45,3,6.8,NaN,N,40.0,4.7,3.2,1.3,20210903,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,D00,agrirobotech,2021-09-25 1:29,9,2021-09-25 1:29,2021-09-25 1:35,1,6.2,NaN,N,38.8,3.3,3.3,3.7,20210926,1
27922,20264,20191027020116,D00,agrirobotech,2021-09-25 9:15,9,2021-09-25 9:15,2021-09-25 9:21,2,6.4,NaN,N,39.2,2.8,3.3,3.7,20210926,1
27923,20264,20191027020116,D00,agrirobotech,2021-09-25 19:28,11,2021-09-25 19:28,2021-09-25 19:35,3,6.4,NaN,N,39.5,2.5,3.4,3.9,20210926,1
27924,20264,20191027020116,D00,agrirobotech,2021-09-26 8:22,13,2021-09-26 8:22,2021-09-26 8:29,1,6.2,NaN,N,39.4,2.8,3.4,4.0,20210927,1
27925,20264,20191027020116,D00,agrirobotech,2021-09-26 19:42,13,2021-09-26 19:42,2021-09-26 19:49,2,6.4,NaN,N,39.6,2.5,3.4,3.7,20210927,1

# 데이터 살펴보기

In [4]:
df.isna().sum()

농장아이디          0
개체번호           0
축종코드           0
제조사 아이디        0
측정일시           0
착유량            0
착유시작일시         0
착유종료일시         0
착유회차           0
전도도            0
체세포        27926
혈액흐름           0
온도             0
유지방           52
유단백           52
공기흐름           0
수집일자           0
수집건수           0
dtype: int64

# 유지방 유단백 NaN값인 애들 조회

In [5]:
# 유지방 또는 유단백 결측인 행만 추출
missing_fat_protein = df[df['유지방'].isna() | df['유단백'].isna()]
missing_fat_protein.head()

,농장아이디,개체번호,축종코드,제조사 아이디,측정일시,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름,수집일자,수집건수
4210,20338,20161021020021,D00,agrirobotech,2021-09-08 4:58,0,2021-09-08 4:58,2021-09-08 5:01,1,7.0,NaN,N,34.6,NaN,NaN,0.2,20210909,1
4211,20261,20161021010036,D00,agrirobotech,2021-09-08 4:58,0,2021-09-08 4:58,2021-09-08 5:01,1,7.0,NaN,N,34.6,NaN,NaN,0.2,20210909,1
4212,20261,20161021010036,D00,agrirobotech,2021-09-08 16:11,1,2021-09-08 16:11,2021-09-08 16:15,2,6.6,NaN,N,38.1,NaN,NaN,1.6,20210909,1
4213,20338,20161021020021,D00,agrirobotech,2021-09-08 16:11,1,2021-09-08 16:11,2021-09-08 16:15,2,6.6,NaN,N,38.1,NaN,NaN,1.6,20210909,1
4216,20261,20161021010036,D00,agrirobotech,2021-09-10 2:30,1,2021-09-10 2:30,2021-09-10 2:35,1,6.6,NaN,N,37.0,NaN,NaN,1.8,20210911,1

In [6]:
missing_object = missing_fat_protein[['농장아이디','개체번호']].dropna().drop_duplicates().sort_values(by='농장아이디', ascending=True)
missing_object

       농장아이디            개체번호
4211   20261  20161021010036
6016   20261  20170524010053
11305  20261  20190226010094
7174   20261  20171228010061
26181  20264  20180323020067
16265  20279  20170722010012
17889  20332  20190307020022
21614  20332  20180127020089
21828  20332  20180314020081
7175   20338  20171228020140
4210   20338  20161021020021
6017   20338  20170524020105
11304  20338  20190226020041
17890  21133  20190305010086
21613  21133  20180127010011
21827  21133  20180314010058

# NaN값을 가지고 있던 농장아이디, 개체번호 전체데이터에서 조회
(소에 문제가 있는건지 확인)

In [7]:
# 1. 위 목록의 개체번호들만 추출
target_ids = missing_object['개체번호'].unique()
# 2. 전체 데이터에서 해당 개체번호들만 필터링
target_all_data = df[df['개체번호'].isin(target_ids)]

target_all_data

,농장아이디,개체번호,축종코드,제조사 아이디,측정일시,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름,수집일자,수집건수
4192,20261,20161021010036,D00,agrirobotech,2021-09-01 6:21,5,2021-09-01 6:21,2021-09-01 6:27,1,6.6,NaN,N,38.8,5.3,3.6,4.3,20210902,1
4193,20338,20161021020021,D00,agrirobotech,2021-09-01 6:21,5,2021-09-01 6:21,2021-09-01 6:27,1,6.6,NaN,N,38.8,5.3,3.6,4.3,20210902,1
4194,20261,20161021010036,D00,agrirobotech,2021-09-02 6:01,3,2021-09-02 6:01,2021-09-02 6:35,1,6.4,NaN,N,38.1,4.6,3.7,3.5,20210903,1
4195,20338,20161021020021,D00,agrirobotech,2021-09-02 6:01,3,2021-09-02 6:01,2021-09-02 6:35,1,6.4,NaN,N,38.1,4.6,3.7,3.5,20210903,1
4196,20261,20161021010036,D00,agrirobotech,2021-09-02 15:59,2,2021-09-02 15:59,2021-09-02 16:03,2,6.3,NaN,N,38.4,5.4,3.7,1.7,20210903,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26248,20264,20180323020067,D00,agrirobotech,2021-09-25 20:22,7,2021-09-25 20:22,2021-09-25 20:26,4,6.8,NaN,N,39.3,4.0,3.3,5.5,20210926,1
26249,20264,20180323020067,D00,agrirobotech,2021-09-26 1:38,7,2021-09-26 1:38,2021-09-26 1:42,1,6.6,NaN,N,39.0,4.0,3.2,5.8,20210927,1
26250,20264,20180323020067,D00,agrirobotech,2021-09-26 9:16,10,2021-09-26 9:16,2021-09-26 9:21,2,6.8,NaN,N,39.2,3.7,3.3,5.3,20210927,1
26251,20264,20180323020067,D00,agrirobotech,2021-09-26 14:21,6,2021-09-26 14:21,2021-09-26 14:25,3,6.8,NaN,N,39.8,4.5,3.2,5.5,20210927,1
26252,20264,20180323020067,D00,agrirobotech,2021-09-26 21:06,9,2021-09-26 21:06,2021-09-26 21:11,4,7.0,NaN,N,39.6,3.9,3.2,4.6,20210927,1

# 시간대별 결측 비율 확인

In [8]:
# 시간 변환
df['착유시작일시'] = pd.to_datetime(df['착유시작일시'], errors='coerce')

target_all_data = df[df['개체번호'].isin(target_ids)].copy()

# 결측 여부 플래그
target_all_data['유성분_결측'] = target_all_data[['유지방', '유단백']].isna().any(axis=1)
target_all_data['시각'] = target_all_data['착유시작일시'].dt.hour

In [9]:
# 시간대별 결측 비율
target_all_data['시각'] = target_all_data['착유시작일시'].dt.hour
hourly_missing = target_all_data.groupby('시각')['유성분_결측'].mean()

시각	결측률	해석
0시 -	0.000	0시에 유성분 결측 없음
5시	- 0.230	23%가 결측 — 상대적으로 높음
14시	- 0.107	14시(오후 2시경)도 일부 존재
18시	- 0.133	18시(저녁 6시경)에 결측률 상승
8~12시	- 대부분 0.0	오전은 안정적

In [10]:
hourly_missing

시각
0     0.000000
1     0.041667
2     0.088235
3     0.058824
4     0.222222
5     0.230769
6     0.086207
7     0.076923
8     0.058824
9     0.000000
10    0.000000
11    0.041667
12    0.000000
13    0.028571
14    0.107143
15    0.025000
16    0.061538
17    0.071429
18    0.133333
19    0.074074
20    0.000000
21    0.052632
22    0.062500
23    0.055556
Name: 유성분_결측, dtype: float64

In [11]:
# 3. 전체 데이터 중 해당 개체들의 모든 이력 추출
target_ids = missing_object['개체번호'].unique()
target_all_data = df[df['개체번호'].isin(target_ids)].copy()

# 4. 유성분 결측 여부 플래그 생성
target_all_data['유성분_결측'] = target_all_data[['유지방', '유단백']].isna().any(axis=1)

# 5. 센서값 평균 비교
sensor_cols = ['전도도', '온도', '공기흐름']  # 혈액흐름은 문자형이라 제외
sensor_comparison = target_all_data.groupby('유성분_결측')[sensor_cols].mean()

In [12]:
sensor_comparison
#전도도는 큰 차이 없음
#온도, 공기흐름이 결측 시 뚜렷하게 낮음(센서 미작동/기기 오류 시 결측 발생 가능성)

             전도도         온도      공기흐름
유성분_결측
False   6.937500  39.052296  3.364031
True    6.930769  35.784615  0.890385

# 착유량 값 별 빈도수 계산 및 이상치 탐지

In [13]:
# 착유량 값별 빈도수 계산 후 데이터프레임으로 정리
milk_yield_dist = (
    target_all_data['착유량']
    .value_counts()
    .sort_index()
    .reset_index()
)

# 컬럼명 정리
milk_yield_dist.columns = ['착유량', '빈도']

In [14]:
milk_yield_dist

    착유량   빈도
0     0   36
1     1   38
2     2   22
3     3   34
4     4   26
5     5   38
6     6   32
7     7   97
8     8  143
9     9   95
10   10   62
11   11   65
12   12   38
13   13   30
14   14   27
15   15   15
16   16   12
17   17   18
18   18    4
19   19    4

In [15]:
# 착유량 값별 빈도수 계산 후 데이터프레임으로 정리
milk_yield_missing = (
    missing_fat_protein['착유량']
    .value_counts()
    .sort_index()
    .reset_index()
)

# 컬럼명 정리
milk_yield_missing.columns = ['착유량', '빈도']

In [16]:
milk_yield_missing

   착유량  빈도
0    0  30
1    1  16
2    2   2
3    3   2
4    9   2

In [17]:
milk_9 = missing_fat_protein[missing_fat_protein['착유량'] == 9]
milk_9

,농장아이디,개체번호,축종코드,제조사 아이디,측정일시,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름,수집일자,수집건수
7174,20261,20171228010061,D00,agrirobotech,2021-09-24 6:52,9,2021-09-24 6:52,2021-09-24 6:59,1,6.4,NaN,N,38.1,NaN,NaN,1.7,20210925,1
7175,20338,20171228020140,D00,agrirobotech,2021-09-24 6:52,9,2021-09-24 6:52,2021-09-24 6:59,1,6.4,NaN,N,38.1,NaN,NaN,1.7,20210925,1

In [18]:
milk_34 = df[df['착유량'] == 34]
milk_34

,농장아이디,개체번호,축종코드,제조사 아이디,측정일시,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름,수집일자,수집건수
3830,20261,20161010010032,D00,agrirobotech,2021-09-26 18:21,34,2021-09-26 18:21:00,2021-09-26 18:38,1,7.8,NaN,N,39.3,1.6,3.7,2.4,20210927,1
3831,20338,20161010020156,D00,agrirobotech,2021-09-26 18:21,34,2021-09-26 18:21:00,2021-09-26 18:38,1,7.8,NaN,N,39.3,1.6,3.7,2.4,20210927,1
14462,20261,20150711010016,D00,agrirobotech,2021-09-16 19:15,34,2021-09-16 19:15:00,2021-09-16 19:28,1,7.0,NaN,N,39.7,3.4,3.9,3.0,20210917,1
14463,20338,20150711020069,D00,agrirobotech,2021-09-16 19:15,34,2021-09-16 19:15:00,2021-09-16 19:28,1,7.0,NaN,N,39.7,3.4,3.9,3.0,20210917,1