In [1]:
import pandas as pd
import geopandas as gpd

# 파일 불러오기`

In [2]:
gdf = gpd.read_file("C:/Users/이정재/OneDrive/바탕 화면/공공데이터/practical_project/csv/point_1.shp")

df = pd.read_csv('C:/Users/이정재/OneDrive/바탕 화면/공공데이터/practical_project/csv/스마트팜_수정데이터.csv',encoding='cp949')

# 파일 살펴보기

In [3]:
# 시간 변환
df['착유시작일시'] = pd.to_datetime(df['착유시작일시'], errors='coerce')

In [4]:
df

,농장아이디,개체번호,축종코드,제조사 아이디,측정일시,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름,수집일자,수집건수
0,20278,20130816010079,D00,agrirobotech,2021-09-01 6:52,16,2021-09-01 06:52:00,2021-09-01 7:04,1,7.1,NaN,N,39.9,4.1,3.3,1.5,20210902,1
1,20278,20130816010079,D00,agrirobotech,2021-09-01 17:02,17,2021-09-01 17:02:00,2021-09-01 17:11,2,6.8,NaN,N,40.2,4.5,3.2,2.1,20210902,1
2,20278,20130816010079,D00,agrirobotech,2021-09-02 1:41,14,2021-09-02 01:41:00,2021-09-02 1:51,1,6.8,NaN,N,39.9,4.8,3.1,1.9,20210903,1
3,20278,20130816010079,D00,agrirobotech,2021-09-02 7:28,10,2021-09-02 07:28:00,2021-09-02 7:36,2,6.8,NaN,N,39.6,5.0,3.1,1.7,20210903,1
4,20278,20130816010079,D00,agrirobotech,2021-09-02 14:33,11,2021-09-02 14:33:00,2021-09-02 14:45,3,6.8,NaN,N,40.0,4.7,3.2,1.3,20210903,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,D00,agrirobotech,2021-09-25 1:29,9,2021-09-25 01:29:00,2021-09-25 1:35,1,6.2,NaN,N,38.8,3.3,3.3,3.7,20210926,1
27922,20264,20191027020116,D00,agrirobotech,2021-09-25 9:15,9,2021-09-25 09:15:00,2021-09-25 9:21,2,6.4,NaN,N,39.2,2.8,3.3,3.7,20210926,1
27923,20264,20191027020116,D00,agrirobotech,2021-09-25 19:28,11,2021-09-25 19:28:00,2021-09-25 19:35,3,6.4,NaN,N,39.5,2.5,3.4,3.9,20210926,1
27924,20264,20191027020116,D00,agrirobotech,2021-09-26 8:22,13,2021-09-26 08:22:00,2021-09-26 8:29,1,6.2,NaN,N,39.4,2.8,3.4,4.0,20210927,1
27925,20264,20191027020116,D00,agrirobotech,2021-09-26 19:42,13,2021-09-26 19:42:00,2021-09-26 19:49,2,6.4,NaN,N,39.6,2.5,3.4,3.7,20210927,1

In [5]:
# 체세포 값별 빈도수 계산 후 데이터프레임으로 정리
blood = (
    df['혈액흐름']
    .value_counts()
    .sort_index()
    .reset_index()
)

# 컬럼명 정리
blood.columns = ['혈액흐름', '빈도']

In [6]:
blood

  혈액흐름     빈도
0    N  27910
1    Y     16

In [13]:
farm_obj_map = (
    df.groupby('농장아이디')['개체번호']
    .nunique()
    .reset_index()
)
# 컬럼명 정리
farm_obj_map.columns = ['농장아이디', '개체수']

farm_obj_map

   농장아이디  개체수
0  20261   86
1  20264   70
2  20278   43
3  20279   42
4  20332   75
5  20338   86
6  21133   80