In [1]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns

# 파일 불러오기

In [2]:
gdf = gpd.read_file("C:/Users/이정재/OneDrive/바탕 화면/공공데이터/practical_project/csv/point_1.shp")

df = pd.read_csv('C:/Users/이정재/OneDrive/바탕 화면/공공데이터/practical_project/csv/스마트팜_수정데이터.csv',encoding='cp949')

# 처리할 내용(컬럼 제거 및 시간 변환)

In [3]:
# 시간 변환
df['착유시작일시'] = pd.to_datetime(df['착유시작일시'], errors='coerce')
# 시간 변환
df['착유종료일시'] = pd.to_datetime(df['착유종료일시'], errors='coerce')

In [4]:
df

,농장아이디,개체번호,축종코드,제조사 아이디,측정일시,착유량,착유시작일시,착유종료일시,착유회차,전도도,체세포,혈액흐름,온도,유지방,유단백,공기흐름,수집일자,수집건수
0,20278,20130816010079,D00,agrirobotech,2021-09-01 6:52,16,2021-09-01 06:52:00,2021-09-01 07:04:00,1,7.1,NaN,N,39.9,4.1,3.3,1.5,20210902,1
1,20278,20130816010079,D00,agrirobotech,2021-09-01 17:02,17,2021-09-01 17:02:00,2021-09-01 17:11:00,2,6.8,NaN,N,40.2,4.5,3.2,2.1,20210902,1
2,20278,20130816010079,D00,agrirobotech,2021-09-02 1:41,14,2021-09-02 01:41:00,2021-09-02 01:51:00,1,6.8,NaN,N,39.9,4.8,3.1,1.9,20210903,1
3,20278,20130816010079,D00,agrirobotech,2021-09-02 7:28,10,2021-09-02 07:28:00,2021-09-02 07:36:00,2,6.8,NaN,N,39.6,5.0,3.1,1.7,20210903,1
4,20278,20130816010079,D00,agrirobotech,2021-09-02 14:33,11,2021-09-02 14:33:00,2021-09-02 14:45:00,3,6.8,NaN,N,40.0,4.7,3.2,1.3,20210903,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,D00,agrirobotech,2021-09-25 1:29,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,NaN,N,38.8,3.3,3.3,3.7,20210926,1
27922,20264,20191027020116,D00,agrirobotech,2021-09-25 9:15,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,NaN,N,39.2,2.8,3.3,3.7,20210926,1
27923,20264,20191027020116,D00,agrirobotech,2021-09-25 19:28,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,NaN,N,39.5,2.5,3.4,3.9,20210926,1
27924,20264,20191027020116,D00,agrirobotech,2021-09-26 8:22,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,NaN,N,39.4,2.8,3.4,4.0,20210927,1
27925,20264,20191027020116,D00,agrirobotech,2021-09-26 19:42,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,NaN,N,39.6,2.5,3.4,3.7,20210927,1

In [5]:
# 1. 제거할 컬럼 리스트
drop_cols = ['축종코드', '제조사 아이디', '측정일시', '수집일자', '수집건수','체세포']

# 2. 컬럼 제거 + 농장아이디 20261인 행 제거
df = df.drop(columns=drop_cols)
df = df[df['농장아이디'] != 20261]

In [6]:
df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,혈액흐름,온도,유지방,유단백,공기흐름
0,20278,20130816010079,16,2021-09-01 06:52:00,2021-09-01 07:04:00,1,7.1,N,39.9,4.1,3.3,1.5
1,20278,20130816010079,17,2021-09-01 17:02:00,2021-09-01 17:11:00,2,6.8,N,40.2,4.5,3.2,2.1
2,20278,20130816010079,14,2021-09-02 01:41:00,2021-09-02 01:51:00,1,6.8,N,39.9,4.8,3.1,1.9
3,20278,20130816010079,10,2021-09-02 07:28:00,2021-09-02 07:36:00,2,6.8,N,39.6,5.0,3.1,1.7
4,20278,20130816010079,11,2021-09-02 14:33:00,2021-09-02 14:45:00,3,6.8,N,40.0,4.7,3.2,1.3
...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,N,38.8,3.3,3.3,3.7
27922,20264,20191027020116,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,N,39.2,2.8,3.3,3.7
27923,20264,20191027020116,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,N,39.5,2.5,3.4,3.9
27924,20264,20191027020116,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,N,39.4,2.8,3.4,4.0
27925,20264,20191027020116,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,N,39.6,2.5,3.4,3.7

# 이상치 탐지(착유시간)

In [7]:
# 착유 시간(분) 계산
df['착유시간(분)'] = (df['착유종료일시'] - df['착유시작일시']).dt.total_seconds() / 60

In [8]:
df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,혈액흐름,온도,유지방,유단백,공기흐름,착유시간(분)
0,20278,20130816010079,16,2021-09-01 06:52:00,2021-09-01 07:04:00,1,7.1,N,39.9,4.1,3.3,1.5,12.0
1,20278,20130816010079,17,2021-09-01 17:02:00,2021-09-01 17:11:00,2,6.8,N,40.2,4.5,3.2,2.1,9.0
2,20278,20130816010079,14,2021-09-02 01:41:00,2021-09-02 01:51:00,1,6.8,N,39.9,4.8,3.1,1.9,10.0
3,20278,20130816010079,10,2021-09-02 07:28:00,2021-09-02 07:36:00,2,6.8,N,39.6,5.0,3.1,1.7,8.0
4,20278,20130816010079,11,2021-09-02 14:33:00,2021-09-02 14:45:00,3,6.8,N,40.0,4.7,3.2,1.3,12.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,N,38.8,3.3,3.3,3.7,6.0
27922,20264,20191027020116,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,N,39.2,2.8,3.3,3.7,6.0
27923,20264,20191027020116,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,N,39.5,2.5,3.4,3.9,7.0
27924,20264,20191027020116,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,N,39.4,2.8,3.4,4.0,7.0
27925,20264,20191027020116,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,N,39.6,2.5,3.4,3.7,7.0

In [9]:
# 이상치 여부 (IQR 방식)
def iqr_outlier_check(x):
    q1 = x.quantile(0.25)
    q3 = x.quantile(0.75)
    
    iqr = q3 - q1

    lower = q1 - 1.5 * iqr
    upper = q3 + 1.5 * iqr
    return ~x.between(lower, upper)  # 이상치인 경우 True

df['이상치여부'] = df['착유시간(분)'].transform(iqr_outlier_check)
df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,혈액흐름,온도,유지방,유단백,공기흐름,착유시간(분),이상치여부
0,20278,20130816010079,16,2021-09-01 06:52:00,2021-09-01 07:04:00,1,7.1,N,39.9,4.1,3.3,1.5,12.0,False
1,20278,20130816010079,17,2021-09-01 17:02:00,2021-09-01 17:11:00,2,6.8,N,40.2,4.5,3.2,2.1,9.0,False
2,20278,20130816010079,14,2021-09-02 01:41:00,2021-09-02 01:51:00,1,6.8,N,39.9,4.8,3.1,1.9,10.0,False
3,20278,20130816010079,10,2021-09-02 07:28:00,2021-09-02 07:36:00,2,6.8,N,39.6,5.0,3.1,1.7,8.0,False
4,20278,20130816010079,11,2021-09-02 14:33:00,2021-09-02 14:45:00,3,6.8,N,40.0,4.7,3.2,1.3,12.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27921,20264,20191027020116,9,2021-09-25 01:29:00,2021-09-25 01:35:00,1,6.2,N,38.8,3.3,3.3,3.7,6.0,False
27922,20264,20191027020116,9,2021-09-25 09:15:00,2021-09-25 09:21:00,2,6.4,N,39.2,2.8,3.3,3.7,6.0,False
27923,20264,20191027020116,11,2021-09-25 19:28:00,2021-09-25 19:35:00,3,6.4,N,39.5,2.5,3.4,3.9,7.0,False
27924,20264,20191027020116,13,2021-09-26 08:22:00,2021-09-26 08:29:00,1,6.2,N,39.4,2.8,3.4,4.0,7.0,False
27925,20264,20191027020116,13,2021-09-26 19:42:00,2021-09-26 19:49:00,2,6.4,N,39.6,2.5,3.4,3.7,7.0,False

In [10]:
#이상치 여부
trouble = (
    df['이상치여부']
    .value_counts()
    .sort_index()
    .reset_index()
)
trouble.columns = ['이상치여부', '갯수']
trouble

   이상치여부     갯수
0  False  21196
1   True    504

In [11]:
# 2. 이상치만 필터링한 DataFrame
outliers_df = df[df['이상치여부'] == True]
outliers_df

,농장아이디,개체번호,착유량,착유시작일시,착유종료일시,착유회차,전도도,혈액흐름,온도,유지방,유단백,공기흐름,착유시간(분),이상치여부
29,20278,20130816010079,27,2021-09-17 06:20:00,2021-09-17 06:33:00,1,7.2,N,39.7,4.8,3.1,2.3,13.0,True
33,20278,20130816010079,19,2021-09-19 06:28:00,2021-09-19 06:41:00,1,7.4,N,40.0,4.4,3.1,1.8,13.0,True
35,20278,20130816010079,20,2021-09-20 06:24:00,2021-09-20 06:38:00,1,7.3,N,39.7,4.6,3.2,1.7,14.0,True
38,20278,20130816010079,13,2021-09-21 15:52:00,2021-09-21 16:06:00,2,7.1,N,40.3,5.6,3.2,1.2,14.0,True
45,20278,20130816010079,20,2021-09-25 06:15:00,2021-09-25 06:28:00,1,7.0,N,39.4,5.1,3.2,1.7,13.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27545,20264,20190712020091,14,2021-09-21 20:04:00,2021-09-21 20:17:00,3,7.1,N,39.4,2.1,3.6,1.8,13.0,True
27546,20264,20190712020091,15,2021-09-22 04:57:00,2021-09-22 05:10:00,1,7.0,N,39.2,2.8,3.4,1.8,13.0,True
27547,20264,20190712020091,16,2021-09-22 14:19:00,2021-09-22 14:32:00,2,6.9,N,39.4,2.2,3.5,1.8,13.0,True
27791,20264,20190828020077,14,2021-09-01 08:46:00,2021-09-01 08:59:00,1,6.9,N,39.6,2.3,3.5,1.4,13.0,True
27854,20264,20190828020077,15,2021-09-22 12:44:00,2021-09-22 12:57:00,2,7.1,N,40.2,2.1,3.6,2.8,13.0,True

In [13]:
df['착유시간(분)'].describe()

count    21700.000000
mean         7.035023
std          2.256179
min          2.000000
25%          5.000000
50%          7.000000
75%          8.000000
max         80.000000
Name: 착유시간(분), dtype: float64

In [14]:
df.isna().sum()

농장아이디       0
개체번호        0
착유량         0
착유시작일시      0
착유종료일시      0
착유회차        0
전도도         0
혈액흐름        0
온도          0
유지방        42
유단백        42
공기흐름        0
착유시간(분)     0
이상치여부       0
dtype: int64